body {
            font-family: Franklin Gothic Medium, sans-serif;
            background-color: #ffffff;
            padding: 20px;
        }

        h1, h2 {
            color: #333;
        }

        label {
            display: inline-block;
            width: 100px;
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
            background-color: #fefe04;
            color: rgb(0, 0, 0);
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        p {
            font-weight: bold;
        }